Source: cl-rt
Section: devel
Priority: optional
Maintainer: Kevin M. Rosenberg <kmr@debian.org>
Build-Depends-Indep: debhelper (>= 4.0.0)
Standards-Version: 3.6.1.0

Package: cl-rt
Architecture: all
Depends: ${shlibs:Depends}, common-lisp-controller (>= 3.37)
Description: Common Lisp regression tester from MIT
 This is MIT's regression tester for Common Lisp programs. It provides a 
 framework for writing
 regression tests for Common Lisp packages. This package includes
 Paul Dietz's modifications to the original MIT release.

